@import "reset.css";
:root {
	--white: #fff;
	--black: #272727;
}

* {
	box-sizing: border-box;
}
body {
	font-family: 'Libre Franklin', 'sans-serif';
	-webkit-font-smoothing: antialised;
}

.container {
	width: 1300px;
	margin: 0 auto;
	padding: 0 20px;
}

#jumbo {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('../images/landingPage.jpg') no-repeat center center;
	background-size: cover;
	color: rgb(255, 255, 255);
	height: 100vh;
	color: #fff;
}

#jumbo .jumbo-container {
	position: relative;
	top: 250px;
}

#jumbo .jumbo-content {
}

#jumbo .jumbo-content h1 {
	font-size: 5rem;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 70px;
}

#jumbo .jumbo-content p {
	font-size: 2rem;
	margin-bottom: 65px;
}

#jumbo .jumbo-buttons {
}

#jumbo .jumbo-buttons:after {
	content: "";
	display: table;
	clear: both;
}

#jumbo .jumbo-buttons .left-button {
	font-size: 1.5rem;
	color: #fff;
	text-decoration: none;
	border: 1px solid #fff;
	padding: 15px 35px;
	display: inline-block;
	float: left;
	margin-right: 30px;
	transition: all .4s ease-in-out;
}

#jumbo .jumbo-buttons .right-button {
	font-size: 1.5rem;
	color: #fff;
	text-decoration: none;
	border: 1px solid #fff;
	padding: 15px 30px;
	display: inline-block;
	float: left;
	transition: all .4s ease-in-out;
}

#jumbo .jumbo-buttons .left-button:hover,
#jumbo .jumbo-buttons .right-button:hover {
	background: var(--white);
	color: var(--black);
}

/* 
///////////////////////////////////////////////////////////////////
*/

header {
	padding: 55px 0 55px;
	text-align: center;
	color: var(--black);
}

header a {
	text-decoration: none;
	color: var(--black);
}

header .logo-area {
	font-size: 3.3rem;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 40px;
}

header .logo-area a {
}

header .menu {
	margin-bottom: 40px;
}

header .menu ul {
}

header .menu ul li {
	display: inline-block;
	margin: 0 30px;
	font-weight: 300;
}

header .menu ul li:hover {
	/* font-weight: 500; */
	opacity: .7;
}

header .menu ul li a {
}

header p {
	font-size: .9rem;
	font-weight: 500;
	opacity: .5;
	letter-spacing: 5px;
}

/* 
///////////////////////////////////////////////////////////////////
*/

#photos .photos-container {
	line-height: 0;
	-webkit-column-count: 3;
	-webkit-column-gap: 0px;
	-moz-column-count: 3;
	-moz-column-gap: 0px;
	column-count: 3;
	column-gap: 0px;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}

#photos img {
	width: 100%;
	height: auto;
	padding: 10px;
}

/* 
///////////////////////////////////////////////////
*/

#projects .projects-container {
	line-height: 0;
	-webkit-column-count: 3;
	-webkit-column-gap: 0px;
	-moz-column-count: 3;
	-moz-column-gap: 0px;
	column-count: 3;
	column-gap: 0px;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}

#projects img {
	width: 100%;
	height: auto;
	padding: 10px;
}
