@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

/* * GLOBAL STYLES */
html,
body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	position: relative;
}

body {
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	background: #f5f5f5;
}

main {
	padding: 3rem 1.5rem;
}

@media screen and (min-width: 768px) {
	main {
		padding: 3.5rem 1.5rem;
	}
}

@media screen and (min-width: 992px) {
	#events,
	#contact {
		padding: 10% 2.5%;
	}

	#flor {
		padding: 3rem 2.5%;
	}
}

/* * NAVIGATION */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.5rem;
	min-height: 10vh;
	background: #f5f5f5;
	color: #333333;
}

nav .nav-logo {
	font-size: 1.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
}

nav .nav-links {
	position: absolute;
	right: 0;
	top: 10vh;
	height: calc(100% - 10vh);
	background: #f5f5f5;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: space-evenly; */
	justify-content: space-around;
	width: 100%;
	transform: translateX(100%);
	transition: transform 0.5s ease-in;
	z-index: 2;
}

nav .nav-active {
	transform: translateX(0);
}

nav .nav-links a {
	text-transform: capitalize;
	font-size: 1.3rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
	opacity: 0;
}

nav .burger {
	display: block;
	cursor: pointer;
	z-index: 2;
}

nav .burger div {
	width: 25px;
	height: 3px;
	background: rgb(51, 51, 51);
	margin: 5px;
	pointer-events: none;
	transition: all 0.3s ease;
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (min-width: 768px) {
	nav .nav-logo {
		font-size: 2rem;
	}
}

@media screen and (min-width: 992px) {
	nav {
		padding: 0 2.5%;
	}

	nav .nav-links {
		flex-direction: row;
		transform: translateX(0);
		width: 40%;
		position: static;
		height: auto;
		background: transparent;
	}

	nav .nav-links a {
		opacity: 1;
		animation: none;
	}

	nav .burger {
		display: none;
	}
}

/* * FLOR SECTION */
.flor-container .flor-img {
	height: 20rem;
}

.flor-container img {
	object-fit: cover;
	object-position: top;
	width: 100%;
	height: 100%;
}

.flor-container .flor-info h2 {
	font-size: 2.3rem;
	font-weight: 500;
	padding: 1.7rem 0;
}

.flor-container .flor-info p {
	font-size: 1rem;
	font-weight: 200;
	line-height: 2rem;
	color: #333333;
}

@media screen and (min-width: 768px) {
	.flor-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 2rem;
	}

	.flor-container .flor-img {
		height: 27rem;
	}
}

@media screen and (min-width: 992px) {
	.flor-container .flor-img {
		height: 35rem;
	}
}

/* * EVENTS SECTION  */
.photoshoots-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap: 1rem;
}

.photoshoots-container .photoshoot {
	cursor: pointer;
	overflow: hidden;
	position: relative;
	background: #f5f5f5;
}

.photoshoots-container .photoshoot:hover .photoshoot-overlay {
	transform: translateY(0);
	opacity: 1;
}

.photoshoots-container .photoshoot img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.photoshoots-container .photoshoot-overlay {
	position: absolute;
	opacity: 0;
	transform: translateY(100%);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: all 0.5s ease-in;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: #0e0e0ebe;
}

.photoshoots-container .photoshoot-overlay h2 {
	font-size: 1.5rem;
	color: #f5f5f5;
}

.photoshoots-container .photoshoot-overlay a {
	font-size: 0.9rem;
	color: #f5f5f5;
	margin-top: 1rem;
	padding: 0.5rem;
	border: 1px solid #f5f5f5;
}

@media screen and (min-width: 768px) {
	.photoshoots-container {
		grid-template-columns: 1fr 1fr 1fr;
	}
	#latest-photoshoots {
		height: 100%;
	}
}

@media screen and (min-width: 992px) {
}

/* * EVENT PAGE */
.photos-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap: 1rem;
}

.photos-container .event {
	cursor: pointer;
	overflow: hidden;
	position: relative;
}

.photos-container .event img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (min-width: 768px) {
	.photos-container {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (min-width: 992px) {
}

/* * CONTACT SECTION */
.contact-container .contact-info {
	margin-bottom: 2rem;
}

.contact-info h2 {
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 3.5rem;
	color: #333333;
}

.contact-info p {
	font-size: 1rem;
	font-weight: 200;
	line-height: 2rem;
	color: #333333;
}

.contact-info .contact-icons {
	padding: 2rem 0 0 0;
	display: flex;
	justify-content: space-between;
	width: 15%;
}

.contact-info .contact-icons a {
	font-size: 1.2rem;
	color: #333333;
}

.contact-form .field-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.2rem;
}

.contact-form .field-container p {
	font-weight: 500;
	line-height: 2rem;
	color: #333333;
}

.contact-form .field-container .name-fields {
	display: grid;
	grid-template-columns: 49% 49%;
	grid-gap: 2%;
	flex-direction: column;
	color: #333333;
}

.contact-form .field-container .field {
	display: flex;
	flex-direction: column;
}

.contact-form .field-container input,
.contact-form .field-container textarea {
	box-sizing: border-box;
	display: inline-block;
	padding: 0.5rem;
	border: 1px solid #33333377;
}

.contact-form .field-container textarea::placeholder {
	color: #333333;
	line-height: 1.9rem;
}

.contact-form .field-container label {
	line-height: 2rem;
	color: #333333;
}

.contact-form button {
	background: #333333;
	color: #f5f5f5;
	padding: 0.7rem 1.7rem;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
	.contact-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 2rem;
	}

	.contact-info .contact-icons {
		width: 10%;
	}
}

/* * FOOTER SECTION */
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
}

footer .footer-icons-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 20%;
}

footer .footer-icons-container a {
	font-size: 1.5rem;
	color: #333333;
}

@media screen and (min-width: 768px) {
	footer .footer-icons-container {
		width: 10%;
	}
}

@media screen and (min-width: 992px) {
}

/* @custom-media --viewport-4 (min-width: 480px);
@custom-media --viewport-7 (min-width: 768px);
@custom-media --viewport-9 (min-width: 992px);
@custom-media --viewport-12 (min-width: 1200px); */

/* @media screen and (min-width: 768px) {
	main {
		padding: 3.5rem 1.5rem;
	}

	nav .nav-logo {
		font-size: 2.5rem;
	}

	.photoshoots-container {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.flor-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 2rem;
	}

	.flor-container .flor-img {
		height: 27rem;
	}

	footer .footer-icons-container {
		width: 10%;
	}
} */

/* @media screen and (min-width: 992px) {
	main {
		padding: 10% 2.5%;
	}

	#flor {
		padding: 3rem 2.5%;
	}

	nav {
		padding: 0 2.5%;
	}

	nav .nav-logo {
		font-size: 2rem;
	}

	nav .nav-links {
		flex-direction: row;
		transform: translateX(0);
		width: 40%;
		position: static;
		height: auto;
		background: transparent;
	}

	nav .nav-links a {
		opacity: 1;
		animation: none;
	}

	nav .burger {
		display: none;
	}

	.contact-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 2rem;
	}

	.contact-info .contact-icons {
		width: 10%;
	}

	.flor-container .flor-img {
		height: 35rem;
	}
} */

/* Animations */
@keyframes navLinkFadeIn {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}
